<table cellSpacing="0" cellPadding="0" width="400">
    <tr>
        <td>
            <IMG src="/images/pasdelimite.jpg" />
        </td>
    </tr>
    <tr>
        <td>
            TOTO Tutu
            <br />
            4 rue de la MAIRIE<br />87000 LOLO
            <br />
            Tél.&nbsp;:&nbsp;06 45 85 65 45
            <br />
            SIRET&nbsp;:&nbsp;390 735 103 78965
            <br /><A href="mailto:toto-tutu@tata.com">toto-tutu@tata.com</A>
        </td>
    </tr>
</table>