<div class="row">
    <div class="col-4">
        <dl>
            <dt>IBAN&nbsp;:</dt>
            <dd>FR76 4061 8803 0700 1235 9792 982</dd>
        </dl>
    </div>
    <div class="col-4">
        <dl>
            <dt>BIC&nbsp;:</dt>
            <dd>BOUS FRPP XXX</dd>
        </dl>
    </div>
    <div class="col-4">
        <dl>
            <dt>Banque&nbsp;:</dt>
            <dd>Boursorama Banque</dd>
        </dl>
    </div>
    <div class="col-8">
        <dl>
            <dt>Domiciliation&nbsp;:</dt>
            <dd>44 rue Traversière - 92772 BOULOGNE-BILLANCOURT CEDEX</dd>
        </dl>
    </div>
    <div class="col-4">
        <dl>
            <dt>Titulaire&nbsp;:</dt>
            <dd>M. TOTO TUTU</dd>
        </dl>
    </div>

    <div class="col-12">
        Paiement par virement en utilisant le RIB ci-dessus.. Tout retard de
        paiement donnera lieu à l'application des dispositions précisées dans
        les conditions générales des ventes imprimées au verso ou consultables
        sur internet à l'adresse suivante&nbsp;:
        <a href="http://www.msform.com">http://www.msform.com</a>.
    </div>
</div>