@model Facturation.Models.Facture

@{
    ViewData["Title"] = "Edition de facture";
}
    <form asp-action="Edit">
        <h1>Facture @Html.DisplayFor(c => Model.Numero) pour <a asp-action="Details" asp-controller="Clients" asp-route-id="@Model.IdClient">@Model.Client.RaisonSociale</a></h1>
        <menu>
            <input type="submit" value="Save" class="btn btn-primary" />

        </menu>
        <hr />
        <div class="row">
            <div class="col-md-4">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Reference" class="control-label"></label>
                    <input asp-for="Reference" class="form-control" />
                    <span asp-validation-for="Reference" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateCreation" class="control-label"></label>
                    <input type="date" asp-for="DateCreation" class="form-control" />
                    <span asp-validation-for="DateCreation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateEdition" class="control-label"></label>
                    <input type="date" asp-for="DateEdition" class="form-control" />
                    <span asp-validation-for="DateEdition" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateEcheance" class="control-label"></label>
                    <input type="date" asp-for="DateEcheance" class="form-control" />
                    <span asp-validation-for="DateEcheance" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Numero" class="control-label"></label>
                    <input asp-for="Numero" class="form-control" />
                    <span asp-validation-for="Numero" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Remarque" class="control-label"></label>
                    <input asp-for="Remarque" class="form-control" />
                    <span asp-validation-for="Remarque" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="IdClient" class="control-label"></label>
                    <select asp-for="IdClient" class="form-control" asp-items="ViewBag.IdClient"></select>
                    <span asp-validation-for="IdClient" class="text-danger"></span>
                </div>


            </div>
        </div>
    </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
