<!-- <div class="container-fluid">
  <div class="row">
    <div class="header-col col-md-6" (click)="afficheFusees=true;afficheLancements=false;">
      <h1>FUSEES</h1>
    </div>
    <div class="header-col col-md-6" (click)="afficheFusees=false;afficheLancements=true;">
      <h1>LANCEMENTS</h1>

  </div>
</div> -->

<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-3">Spatioport</h1>
    <h3 >Site de suivi des lancements de fusées</h3>
  </div>
    <div >
      <app-lancement-liste></app-lancement-liste>
    </div>
</div>

<!-- </div> -->
