// 0: pas de bateau, pas tenté
// 1:  bateau, pas tenté
// 2: pas de bateau, pas tenté
// 3: bateau, tenté
.bn0,
.bn1,
.bn2,
.bn3 {
  background-color: lightblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bn1 {
}
.bn2 {
  background-size: 0.5em;

  background-image: url("/assets/images/touche.png");
}
.bn3 {
  background-image: url("/assets/images/bateau-touche.png");
}

.dm-cell {
  background-color: lightblue;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@for $i from 0 through 8 {
  .dem#{$i} {
    @extend .dm-cell;
    background-image: url("/assets/images/#{$i}.png");
  }
}
.dem253 {
  @extend .dm-cell;
}
.dem254 {
  @extend .dm-cell;
  background-image: url("/assets/images/mine.png");
}
.dem255 {
  @extend .dm-cell;
}
