
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Addition</title>
</head>
<body>
   <h1>Résultat de l'addition</h1>
    @ViewBag.a + @ViewBag.b = @ViewBag.resultat
</body>
</html>
