
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
  
</head>
<body>
  <h1>Bonjour</h1>
    <p>
      
        
        Nous sommes le @ViewBag.ToutDeSuite

    </p>
</body>
</html>
